
.common_footer {
    height: 1.4rem;
    /* border-top: 2px solid #fafafa; */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #111C21;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
  }
  .common_footer .one{
    background: url(../images/one.png) no-repeat center /0.48rem;
  }
  .common_footer .two{
    background: url(../images/two.png) no-repeat center /0.48rem;
  }
  .common_footer .three{
    background: url(../images/three.png) no-repeat center /0.48rem;
  }
  .common_footer .four{
    background: url(../images/four.png) no-repeat center /0.48rem;
  }
  .common_footer .active .one{
    background: url(../images/one_active.png) no-repeat center /0.48rem;
  }
  .common_footer .active .two{
    background: url(../images/two_active.png) no-repeat center /0.48rem;
  }
  .common_footer .active .three{
    background: url(../images/three_active.png) no-repeat center /0.48rem;
  }
  .common_footer .active .four{
    background: url(../images/four_active.png) no-repeat center /0.48rem;
  }
  .common_footer a {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.3rem;
    color: #999;
  }
  .common_footer a>div{
    width: .66rem;height: .66rem;
    /* margin-bottom: .1rem; */
  }
  .common_footer a.active {
    color: #8b67ff;
  }
  .icon-size {
    display: inline-block;
    font-size: .56rem!important;
  }